<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <button class="btn btn-dark" (click)="regresar()">Regresar</button>
              <div class="card">
                  <div class="card-header card-header-success">
                      <h4 class="card-title">Editar las opciones para Menús</h4>
                      <p class="card-category"> *No se recomienda crear más de 10 items en el menú</p>
                  </div>
                  <div class="card-body">
                      <!-- (ngSubmit)="grabar()" -->
                    <form id="addTabs" [formGroup]="formGroup">
                      <div class="container" style="margin-top: 4%">
                          <strong>Empresa:</strong>
                          <select class="form-control" formControlName="empresa" name="empresa">
                            <option value="{{item.id}}" *ngFor="let item of responseEmpresa?.empresas">
                                {{item.nombre}}
                            </option>
                          </select>
                      </div>
              
                      <div class="container" style="margin-top: 2%">
                          <b>Seleccione la Aplicación:</b>
                          <select class="form-control" formControlName="aplicacion" name="aplicacion">
                              <option selected value="{{itema.id}}" *ngFor="let itema of responseAplicacion?.aplicaciones">
                                {{itema.nombre}}
                              </option>
                          </select>
                      </div>
              
                      <div class="container" style="margin-top: 2%">
                          <strong>Nombre de la opción:</strong>
                          <input type="text" name="nombreOpcion" formControlName="nombreOpcion" placeholder="Nombre de la opción" class="form-control">
                      </div>

                      <div class="container" style="margin-top: 2%">
                        <strong>Icono Actual</strong><br>
                        <img [src]="imgMostrar" width="30%">
                      </div>
              
                      <div class="container" style="margin-top: 2%">
                          <strong>Icono: [png,svg]</strong><br>
                          <input type="file" formControlName="archivo" name="archivo" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .pdf">
                      </div>

                      <div class="container" style="margin-top: 2%">
                          <strong>Enlace (a donde se va a dirigir la opción)</strong>
                          <input type="text" name="nombreEnlace" formControlName="nombreEnlace" placeholder="Nombre de la página que se visitará en la aplicación" class="form-control">
                      </div>
              
                      <div class="container" style="margin-top: 2%">
                          <strong>Estado:</strong>
                          <select class="form-control" formControlName="estado" name="estado">
                              <option selected value="A">Activo</option>
                              <option value="D">Desactivado</option>
                          </select>
                      </div>

                      <div class="container centrado" style="margin-top: 2%">
                        <button class="btn btn-dark" (click)="cerrar()">Cerrar</button>
                        <button class="btn btn-danger" (click)="grabar()" [disabled]="formGroup.invalid">Grabar</button>
                      </div>
                  </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
