<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Total de Banner</p>
                      <h3 class="card-title">{{responseBanners?.count}}
                          <small>Un</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i>1 Deshabilitado
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">maps</i>
                      </div>
                      <p class="card-category">Total Slides</p>
                      <h3 class="card-title">55</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">update</i> Ultimos Cambios
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">library_books</i>
                      </div>
                      <p class="card-category">Total Tabs</p>
                      <h3 class="card-title">7/5</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">update</i> Ultimos Cambios
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">library_books</i>
                      </div>
                      <p class="card-category">Total de Menus</p>
                      <h3 class="card-title">4/5</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Ultimos Cambios
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <p>Accesos directos</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <p>Crear Empresas</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <p>Crear Aplicaciones</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <p>Administrar Banners</p>
        </div>
      </div>
  </div>
</div>
