<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <button class="btn btn-dark" (click)="regresar()">Regresar</button>
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Nuevo Perfil</h4>
                  </div>
                  <div class="card-body">
                    <form id="addPerfil" [formGroup]="formGroup">
                      <div class="container" style="margin-top: 4%">
                          <strong>Empresa:</strong>
                          <select class="form-control" formControlName="empresa" name="empresa" (change)='cambioSeleccionado($event)'>
                            <option selected value="1">Selecciona una empresa</option>
                            <option value="{{item.id}}" *ngFor="let item of responseEmpresa?.empresas">
                                {{item.nombre}}
                            </option>
                          </select>
                      </div>

                      <div class="container" style="margin-top: 2%">
                        <b>Seleccione la Aplicación:</b>
                        <select class="form-control" formControlName="aplicacion" name="aplicacion">
                          <option selected value="1">Selecciona una aplicación</option>
                            <option selected value="{{itema.id}}" *ngFor="let itema of responseAplicacion?.aplicaciones">
                              {{itema.nombre}}
                          </option>
                        </select>
                    </div>
              
                      <div class="container" style="margin-top: 2%">
                          <strong>Nombre Perfil:</strong>
                          <input type="text" name="nombrePerfil" formControlName="nombrePerfil" placeholder="Nombre de Perfil" class="form-control">
                      </div>
                      
                      <div class="container" style="margin-top: 2%">
                          <b>Seleccione el rol:</b>
                          <select class="form-control" formControlName="rol" name="rol">
                            <option selected value="1">Selecciona un rol</option>
                            <option selected value="{{itemr.id}}" *ngFor="let itemr of responseRoles?.roles">
                              {{itemr.nombre}}
                            </option>
                          </select>
                      </div>

                      <div class="container" style="margin-top: 2%">
                        <b>Seleccione la opción de Menú:</b>
                        <select class="form-control" formControlName="menu" name="menu">
                          <option selected value="1">Selecciona un rol</option>
                          <option selected value="{{itemm.id}}" *ngFor="let itemm of responseMenus?.menus">
                            {{itemm.nombre}}
                          </option>
                        </select>
                      </div>
                            
                      <div class="container" style="margin-top: 2%">
                          <strong>Estado:</strong>
                          <select class="form-control" formControlName="estado" name="estado">
                              <option selected value="A">Activo</option>
                              <option value="D">Desactivado</option>
                          </select>
                      </div>

                      <div class="container centrado" style="margin-top: 2%">
                        <button class="btn btn-dark" (click)="cerrar()">Cerrar</button>
                        <button class="btn btn-danger" (click)="grabar()" [disabled]="formGroup.invalid">Grabar</button>
                      </div>
                  </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
