<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Listado de Slides de entrada</h4>
                      <p class="card-category"> Slides registrados</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Nombre
                                  </th>
                                  <th>
                                      Imagen
                                  </th>
                                  <th>
                                      Estado
                                  </th>
                                  <th>
                                      Acciones
                                  </th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of responseSlides?.slides">
                                    <td> {{item.id}} </td>
                                    <td> {{item.nombre}} </td>
                                    <td> <img [src]="sanitized.bypassSecurityTrustUrl(item?.base64)" width="50px" height="50px"></td>
                                    
                                    <td> OK </td>
                                    <td>  
                                      <button mat-raised-button type="button" (click)="crearSlides()" matTooltip="Nuevo" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">open_in_new</i>
                                      </button>
                                      <button mat-raised-button type="button" matTooltip="Editar" (click)="editarslides(item.id)" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">edit</i>
                                      </button>
                                      <button mat-raised-button type="button" matTooltip="Borrar" (click)="eliminarslide(item.id)" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">close</i>
                                      </button>
                                  </td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                      <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                        <p style="color: white">Cargando Datos. </p>  
                      </ngx-spinner> 
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
