<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Listado de Slides de entrada</h4>
                      <p class="card-category"> Slides registrados</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Nombre
                                  </th>
                                  <th>
                                      Imagen
                                  </th>
                                  <th>
                                      Estado
                                  </th>
                                  <th>
                                      Acciones
                                  </th>
                              </thead>
                              <tbody>
                                <tr> 
                                    <td>1</td>
                                    <td>Slide Uno</td>
                                    <td><img src="banner-1.jpg" width="50px" height="50px"></td>
                                    <td>OK</td>
                                    <td>
                                      <button mat-raised-button type="button" (click)="crearSlides()" matTooltip="Nuevo" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">open_in_new</i>
                                      </button>
                                      <button mat-raised-button type="button" matTooltip="Editar" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">edit</i>
                                      </button>
                                      <button mat-raised-button type="button" matTooltip="Borrar" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">close</i>
                                      </button>
                                      </td>
                                  </tr>

                                  <tr> 
                                    <td>2</td>
                                    <td>Slide 2</td>
                                    <td><img src="banner2.jpg" width="50px" height="50px"></td>
                                    <td>OK</td>
                                    <td>
                                      <button mat-raised-button type="button" (click)="crearSlides()" matTooltip="Nuevo" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">open_in_new</i>
                                      </button>
                                      <button mat-raised-button type="button" matTooltip="Editar" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">edit</i>
                                      </button>
                                      <button mat-raised-button type="button" matTooltip="Borrar" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">close</i>
                                      </button>
                                      </td>
                                  </tr>

                                  <tr> 
                                    <td>3</td>
                                    <td>Slide 3</td>
                                    <td><img src="banner3.jpg" width="50px" height="50px"></td>
                                    <td>OK</td>
                                    <td>
                                      <button mat-raised-button type="button" (click)="crearBanner()" matTooltip="Nuevo" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">open_in_new</i>
                                      </button>
                                      <button mat-raised-button type="button" matTooltip="Editar" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">edit</i>
                                      </button>
                                      <button mat-raised-button type="button" matTooltip="Borrar" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">close</i>
                                      </button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
